html, body {
    background-image: url("assets/images/defaultWallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.taskbar {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(14px);
}

.tbButton {
    position: relative;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    padding: 16.5px;
}

.tbIcon {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
}

.startMenu {
    position: absolute;
    bottom: 50px;
    width: 650px;
    height: 750px;
    backdrop-filter: blur(14px);
}

.titleBar {
    position: absolute;
    background-color: white ;
    width: 100%;
    height: 35px;
    font-size: 14px;
    color: black;
    padding: 0px;
    line-height: 35px;
    padding-left: 8.75px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
    pointer-events: visibleStroke;
}

.window {
    width: 500px;
    height: 500px;
    background-color: rgb(18, 18, 18);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 25%);
    overflow: hidden;
    resize: both;
    position: absolute;
    left: 10px;
    top: 10px;
    min-width: 636px;
    min-height: 323px;
}

.windowIcon {
    position: relative;
    background: none;
    outline: none;
    border: none;
    height: 50%;
    aspect-ratio: 1;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
    padding-right: 5px;
}

.trayIcon {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    padding: 16.5px;
    right: 20px;
}

.windowButtons {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    padding-right: 9px;
}

.windowButton {
    float: right;
    height: 100%;
    aspect-ratio: 1.5;
    border: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wbIcon {
    aspect-ratio: 1;
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
}