html, body {
    padding: 0%;
    margin: 0;
    background-color: black;
}

.webpage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
}

.pageCut {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
}